.one {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}
.two img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid rgb(99, 179, 237);
    border-radius: 20px;
    box-shadow: 3px 6px 9px gray;
}