:host {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px 30px;
}
.product a img {
    width: 230px;
    height: 230px;
    border: 1px solid rgb(99, 179, 237);
    border-radius: 20px;
    box-shadow: 2px 4px 6px gray;
}